<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)">
	<!-- wp:group {"tagName":"header","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}},"className":"entry-header","layout":{"type":"constrained"}} -->
	<header class="wp-block-group entry-header" style="margin-bottom:var(--wp--preset--spacing--50)">
		<!-- wp:heading {"level":1,"align":"full","style":{"spacing":{"margin":{"right":"0","bottom":"var:preset|spacing|50","left":"0"}}},"fontSize":"xxxxx-large"} -->
		<h1 class="wp-block-heading alignfull has-xxxxxx-large-font-size" style="margin-right:0;margin-bottom:var(--wp--preset--spacing--50);margin-left:0">We are - <br>Maxima Legal</h1>
		<!-- /wp:heading -->

		<!-- wp:separator {"align":"full","className":"is-style-wide"} -->
		<hr class="wp-block-separator alignfull has-alpha-channel-opacity is-style-wide"/>
		<!-- /wp:separator -->
	</header>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"loop"} /-->

	<!-- wp:spacer {"height":"var(--wp--preset--spacing--60)"} -->
	<div style="height:var(--wp--preset--spacing--60)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:pattern {"slug":"silence/cta"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
