<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"className":"content","layout":{"type":"default"}} -->
<main class="wp-block-group content" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)">
	<!-- wp:group {"tagName":"article","className":"entry","layout":{"type":"default"}} -->
	<article class="wp-block-group entry">
		<!-- wp:group {"tagName":"header","align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}},"className":"entry-header","layout":{"type":"constrained"}} -->
		<header class="wp-block-group alignwide entry-header" style="margin-bottom:var(--wp--preset--spacing--50)">
			<!-- wp:post-title {"level":1,"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} /-->

			<!-- wp:separator {"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}},"className":"is-style-wide"} -->
			<hr class="wp-block-separator alignwide has-alpha-channel-opacity is-style-wide" style="margin-bottom:var(--wp--preset--spacing--40)"/>
			<!-- /wp:separator -->

			<!-- wp:post-featured-image {"align":"wide","style":{"border":{"radius":"0.5em"}}} /-->
		</header>
		<!-- /wp:group -->

		<!-- wp:post-content {"align":"wide","layout":{"type":"constrained","justifyContent":"right"}} /-->
	</article>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"comments","theme":"silence","tagName":"section","align":"wide","className":"comments-area"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->
