<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"className":"content","layout":{"type":"default"}} -->
<main class="wp-block-group content" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)">
	<!-- wp:group {"tagName":"article","className":"entry","layout":{"type":"constrained"}} -->
	<article class="wp-block-group entry">
		<!-- wp:group {"tagName":"header","align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}},"className":"entry-header","layout":{"type":"default"}} -->
		<header class="wp-block-group alignwide entry-header" style="margin-bottom:var(--wp--preset--spacing--50)">
			<!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} /-->

			<!-- wp:separator {"className":"is-style-wide"} -->
			<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
			<!-- /wp:separator -->

			<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"margin":{"top":"0"}}},"className":"entry-meta","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
			<div class="wp-block-group entry-meta" style="margin-top:0;padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)">
				<!-- wp:post-terms {"term":"category","textColor":"contrast-secondary-text"} /-->
				<!-- wp:post-date {"className":"wp-block-post-date--single"} /-->
			</div>
			<!-- /wp:group -->

			<!-- wp:post-featured-image {"style":{"border":{"radius":"0.5em"},"spacing":{"margin":{"top":"0"}}}} /-->
		</header>
		<!-- /wp:group -->

		<!-- wp:post-content {"align":"wide","layout":{"type":"constrained","justifyContent":"right"}} /-->

		<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|40"}}},"layout":{"type":"constrained","justifyContent":"right"}} -->
		<div class="wp-block-group alignwide" style="margin-top:var(--wp--preset--spacing--40)">
			<!-- wp:post-terms {"term":"post_tag","textColor":"contrast-secondary-text"} /-->
		</div>
		<!-- /wp:group -->
	</article>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"comments","tagName":"section","align":"wide","className":"comments-area"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->
